# IDEs e ambiente
.idea/
*.iml

# Compilação
/out/
target/
*.class

# Logs
*.log

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Configurações específicas de usuários
*.iws
*.ipr

# Configurações do VSCode (caso alguém use)
.vscode/

# Arquivos temporários do sistema
*.swp
*.tmp

# Arquivos de build do Maven ou Gradle (se usar futuramente)
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Outros arquivos que não devem ser versionados
*.bak
